@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/**
 * Underline-SVG utils - SVG's are not underlined by default, this fixes that.
 */
@layer utilities {
  .underline-svg {
    @apply relative;
    @apply before:content-[''] before:block before:w-full before:h-[1px] before:bg-current before:absolute before:bottom-[2px] before:left-0;
  }

  .underline-svg-offset-3 {
    @apply before:bottom-[1px];
  }
}
